<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
  <config>
    <add key="repositoryPath" value="..\..\packages" />
    <add key="dependencyVersion" value="Highest" />
  </config>  
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://nuget.org/api/v2/" />
    <add key="Sci Chart Package Source" value="https://www.myget.org/F/abtsoftware/api/v1" />
    <add key="PKI Public" value="https://www.myget.org/F/pki_public/api/v1" />
  </packageSources>  
</configuration>
