<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://nuget.org/api/v2/" />
    <add key="Sci Chart Package Source" value="https://www.myget.org/F/abtsoftware/api/v1" />
    <add key="PKI Private" value="https://www.myget.org/F/pki_invivo_private/auth/345541e5-c350-41fd-9541-2c1d091f5190/api/v1" />
    <add key="PKI Public" value="https://www.myget.org/F/pki_public/api/v1" />
  </packageSources>  
</configuration>