<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourceTcpAddress" value="127.0.0.1"/>
    <add key="sourcePort" value="1113"/>
    <add key="targetTcpAddress" value="127.0.0.1"/>
    <add key="targetPort" value="1123"/>
    <add key="sourceUsername" value="admin"/>
    <add key="targetUsername" value="admin"/>
    <add key="sourcePassword" value="changeit"/>
    <add key="targetPassword" value="changeit"/>
    <add key="readBatchSize" value="1000"/>
    <add key="startPosition" value="0"/>
  </appSettings>
</configuration>