<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="RD-Authentication" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/ReactiveDomain/Logs/RD-Authentication-${shortdate}.log" />      
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="RD-Authentication" />
      <logger name="*" minlevel="Debug" writeTo="RD-Authentication" />
      <logger name="*" minlevel="Warn" writeTo="RD-Authentication" />
      <logger name="*" minlevel="Error" writeTo="RD-Authentication" />
    </rules>
  </nlog>   
</configuration>


