<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
      <!-- add your targets here -->
      <target xsi:type="File" name="rdlog" fileName="${basedir}/logs/${shortdate}/ReactiveDomain.log" layout="${longdate} ${threadname} ${logger} ${uppercase:${level}} ${message}" />
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="ReactiveDomain" minlevel="Debug" writeTo="rdlog" />
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.24.0" newVersion="4.5.24.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
